.complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.complete-container h3 {
  font-size: 0.7rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}


.complete-container p{
    text-align: center;
}
 
.complete-page-button-prev:before {
  content: "◁";
  position: relative;
  top: 0;
  right: 0.5rem;
  font-size: 0.7rem;
  color: #fff;
}

.complete-page-button-prev {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: solid 0.5px #fff; /* 和風の金色 */
  color: #fff;
  font-family: "Shippori Mincho", serif;
  margin-top: 4rem;
}

.complete-page-button-prev:hover {
  border: solid 0.5px #d4c000; /* 和風の金色 */
  color: #d4c000;
  transition: color 0.3s ease;
}

.complete-page-button-prev:hover::before {
  color: #d4c000;
}

@media (max-width: 768px) {
  .complete-container h2 {
    font-size: 1.2rem;
  }

  .complete-container h3 {
    font-size: 0.5rem;
  }

  .complete-container p{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  
  .sp-break {
    display: block;
  }
  
}
