.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.form-container h3 {
  font-size: 0.7rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.form-container input {
  height: 2.5rem;
}

.form-group label {
  text-align: right;
  width: 10rem;
  margin-right: 2rem;
}

.form-group input,
.form-group textarea {
  width: 40rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-container button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: solid 0.5px #fff; /* 和風の金色 */
  color: #fff;
  font-family: "Shippori Mincho", serif;
  margin-top: 4rem;
}

.form-container button::after {
  content: "▷";
  position: relative;
  top: 0;
  right: -0.5rem;
  font-size: 0.7rem;
  color: #fff;
}

.form-container button:hover {
  border: solid 0.5px #d4c000; /* 和風の金色 */
  color: #d4c000;
  transition: color 0.3s ease;
}

.form-container button:hover::after {
  color: #d4c000;
}

.form-container ::placeholder {
  font-family: "Shippori Mincho", serif;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .form-container h2 {
    font-size: 1.2rem;
  }

  .form-container h3 {
    font-size: 0.5rem;
  }

  .sp-break {
    display: block;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: auto;
    margin-bottom: 0.5rem;
  }

  .form-container label,
  .form-container input{
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .form-group input,
  .form-group textarea {
    width: 20rem;
  }
}
