.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 13rem;
}

.about-container h3 {
  font-size: 0.7rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.about-container p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.about-container button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: solid 0.5px #d4c000; /* 和風の金色 */
  color: #d4c000;
  font-family: "Shippori Mincho", serif;
  position: absolute;
  right: 3rem;
  bottom: -8rem;
}

.about-container button::after {
  content: "▷";
  position: relative;
  top: 0;
  right: -0.5rem;
  font-size: 0.7rem;
  color: #d4c000;
}

.about-container button:hover {
  border: solid 0.5px #8B813D; /* 和風の金色 */
  color: #8B813D;
  transition: color 0.3s ease;
}

.sp-break{
  display: none;
}

@media (max-width: 768px) {
  .about-container h2{
    font-size: 1.2rem;
  }
  .about-container h3{
    font-size: 0.5rem;
  }
  
  .about-container p{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .sp-break{
    display: block;
  }
  .about-container button{
    position: relative;
    right: 0;
  }
}
