.access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10rem;
}

.access-container h3 {
  font-size: 0.7rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.access-container p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.access-container iframe {
  margin-top: 2rem;
  width: 40rem;
  height: 30rem;
}

@media (max-width: 768px) {
  .access-container h2{
    font-size: 1.2rem;
  }
  .access-container h3{
    font-size: 0.5rem;
  }
  
  .access-container p{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .sp-break{
    display: block;
  }
  .access-container iframe {
    width: 20rem;
    height: 15rem;
  }
}
