.fv-container {
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.fv {
  width: 100%;
  height: 100vh;
  object-fit: cover;  
}

.fv-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px; /* グラデーションの高さ */
  background: linear-gradient(to top, #1F2229FF, #1F222900);
  z-index: 1;
}


.title {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 2;
}

.fv-container h1 {
  font-size: 3rem;
}

.fv-container h3 {
  font-size: 1rem; 
  margin-top: -2rem;
}


@media (max-width: 768px) {
  .fv {
    width: 100vw;
    object-fit: cover;  
  }

  .fv-container h1 {
    font-size: 2rem;
  }
  
  .fv-container h3 {
    font-size: 0.5rem; 
    margin-top: -1rem;
  }
}
