.menu-container {
  display: flex;
  position: relative;
}

.menu-container ul {
  position: absolute;
  top: 4rem;
  right: 3rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  height: 100vh;
  z-index: 5;
}

.menu-container li a {
  color: #fff;
  text-decoration: none;
}

.menu-container ul {
  flex-direction: row-reverse;
}

.menu-container ul li a {
  writing-mode: vertical-rl;
  cursor: pointer;
  position: relative;
}

.menu-container ul li a::before {
  content: "▽";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  color: #fff;
}

.menu-container ul li a:hover,
.menu-container ul li a:hover::before {
  transition: color 0.3s ease;
  color: #d4c000; /* 和風の金色 */
}

.hamburger {
  display: none; /* PCでは非表示 */
  position: absolute;
  top: 0;
  right: 0;
}

.hairpin_r,
.hairpin_l {
  width: 0.4rem;
  z-index: 20;
  transition: transform 0.3s ease; /* 回転アニメーション */
}

.hairpin_r {
  position: absolute;
  top: 1rem;
  right: 3.5rem;
  transform: rotate(0deg);
}

.hairpin_l {
  position: absolute;
  top: 2rem;
  right: 3.5rem;
  transform: rotate(-180deg);
}
/* open時の回転 */
.hairpin_r.open {
  transform: rotate(-45deg);
  top: 2rem;
}

.hairpin_l.open {
  transform: rotate(-135deg);
  top: 2rem;
}

@media (max-width: 768px) {
  /* ハンバーガー表示 */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* メニューはデフォルト非表示 */
  .menu-container ul {
    display: flex;
    gap: 1.5rem;
    background: #1f2229;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    margin: 0;
    /* アニメーション用 */
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; /* 非表示時はクリック無効 */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .menu-container ul.open{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* 表示時はクリック可能 */
  }
  .menu-container ul li {
    padding-top: 5rem;
  }

  /* open クラスが付いた時だけ表示 */
  .menu-container ul.open {
    display: flex;
  }

  .logo_sp.open {
    display: none;
  }
}
