name: Deploy Vite to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: skywarth/vite-github-pages-deployer@v1.5.0
        with:
          public_base_path: "/"  # 必要なら /repo-name/ に変更
          build_path: "./dist"
          package_manager: "npm"
          artifact_name: "github-pages"
          debug_mode: false
